__pycache__/
*.py[cod]
*$py.class
*.so
*.o
*.cubin
*.ptx
*.egg-info/
.eggs/
dist/
build/
.venv/
.vscode/
.idea/
.DS_Store
.pytest_cache/
.ruff_cache/
.mypy_cache/
.deps/
cmake-build-*/
compile_commands.json
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
tmp/*
!tmp/.gitkeep
